@model CarRentalApplication.Models.Entities.Users.User

@{
    // ViewData["Title"] = $"Car - {Model.Year} {Model.Brand} {Model.Model}";
    ViewData["Title"] = "Profile";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<div style=" widht: 100%; display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; gap: 1rem; margin-bottom: 1rem">
    <h3 style="margin:0">Your details</h3>
    <ul>
        <li>First Name: @Model.FirstName</li>
        <li>Last Name: @Model.LastName</li>
        <li>Email: @Model.Email</li>
        <li>Phone Number: @Model.PhoneNumber</li>
    </ul>
</div>

<h3 style="margin:0">Rented cars</h3>
@if (Model.Rentals.Count == 0)
{
    <div class="alert alert-danger" style="width: 100%">
        Car list is empty!
    </div>
}
else
{
    <div style="width: 100%; border: 1px solid #016296;padding: 0.5rem; border-radius: 0.5rem; overflow: scroll; display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; gap: 1rem; margin-bottom: 1rem">
        <div style="display:flex; flex-direction:row; align-items:flex-start; justify-content:flex-start; gap: 1rem; margin-bottom: 1rem">
            @foreach (var car in Model.Rentals)
            {
                <div class="car-card">
                    <div class="car-card-info">
                        <h3 class="info">@car.Car.Year @car.Car.Brand</h3>
                        <p class="info">@car.Car.Model / @car.Car.Engine Liter</p>
                        <p class="info">City: @car.Car.City</p>
                        <p class="info">Price: @car.Car.Price GEL/Day</p>
                        <p class="info">Days rented: @car.TotalDays</p>
                        <p class="info">Total price: @(car.Car.Price * car.TotalDays) GEL</p>
                        <div class="card-buttons">
                            @* <a class="info car-card-info-link btn btn-blue" href="@Url.Action("Details", "Cars", new { id = car.Id })">Details</a> *@
                            <a class="info car-card-info-link btn btn-blue" asp-controller="Cars" asp-action="Details" asp-route-id="@car.CarId">Details</a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
}

<h3 style="margin:0">Liked cars</h3>
@if (Model.UsersCarsLikes.Count == 0)
{
    <div class="alert alert-danger" style="width: 100%">
        Car list is empty!
    </div>
}
else
{
    <div style="width: 100%; border: 1px solid #016296;padding: 0.5rem; border-radius: 0.5rem; overflow: scroll; display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; gap: 1rem; margin-bottom: 1rem">
        <div style="width: 100%; display:flex; flex-direction:row; align-items:flex-start; justify-content:flex-start; gap: 1rem; margin-bottom: 1rem">
            @foreach (var car in Model.UsersCarsLikes)
            {
                <div class="car-card">
                    <div class="car-card-info">
                        <h3 class="info car-card-info-brand">@car.Car.Year @car.Car.Brand</h3>
                        <p class="info car-card-info-model">@car.Car.Model / @car.Car.Engine Liter</p>
                        <p class="info car-card-info-price">Price: @car.Car.Price GEL/Day</p>
                        <div class="card-buttons">
                            @* <a class="info car-card-info-link btn btn-blue" href="@Url.Action("Details", "Cars", new { id = car.Id })">Details</a> *@
                            <a class="info car-card-info-link btn btn-blue" asp-controller="Cars" asp-action="Details" asp-route-id="@car.CarId">Details</a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
}


<h3 style="margin:0">Posted cars</h3>
@if (Model.PostedCar.Count == 0)
{
    <div class="alert alert-danger" style="width: 100%">
        Car list is empty!
    </div>
}
else
{
    <div style="width: 100%; overflow:scroll; border: 1px solid #016296;padding: 0.5rem; border-radius: 0.5rem; overflow: scroll; display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start; gap: 1rem; margin-bottom: 1rem">
        <div style=" display:flex; flex-direction:row; align-items:flex-start; justify-content:flex-start; gap: 1rem; margin-bottom: 1rem">
            @foreach (var car in Model.PostedCar)
            {
                <div class="car-card">
                    <div class="car-card-info">
                        <h3 class="info car-card-info-brand">@car.Year @car.Brand</h3>
                        <p class="info car-card-info-model">@car.Model / @car.Engine Liter</p>
                        <p class="info car-card-info-price">Price: @car.Price GEL/Day</p>
                        <div class="card-buttons">

                            <a class="info car-card-info-link btn btn-blue" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                            <form asp-controller="Cars" asp-action="DeleteCar" asp-route-id="@car.Id">
                                <input type="hidden" name="carId" value="@car.Id" />
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}