@model CarRentalApplication.Models.VMs.Selectors.SelectorViewModel

@{
    var controllerName = Model.DisplayName;
    var methodName = string.Empty;

    switch (controllerName)
    {
        case "Cities":
        methodName = "EditCities";
            break;
        case "Colors":
        methodName = "EditColors";
            break;
        case "Engines":
        methodName = "EditEngines";
            break;
        case "FuelCapacities":
        methodName = "EditFuelCapacities";
            break;
        case "Gearboxes":
        methodName = "EditGearboxes";
            break;
        case "Seats":
        methodName = "EditSeats";
            break;
        case "Years":
        methodName = "EditYears";
            break;
    }
}

<h2>@ViewData["Title"]</h2>
   
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@methodName" asp-route-id="@Model.Id" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>

                @if (Model.ValueType == "Single")
                {
                    <input asp-for="Value" name="model" type="number" step="0.01" class="form-control" value="@Model.Value"/>
                }
                else if (Model.ValueType == "Int32")
                {
                    <input asp-for="Value" name="model" type="number" class="form-control" value="@Model.Value" />
                }
                else
                {
                    <input asp-for="Value" name="model" class="form-control" value="@Model.Value" />
                }

                @* <span asp-validation-for="Value" class="text-danger"></span> *@
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index">Back to List</a>
        
    </div>
</div>
