@model List<CarRentalApplication.Models.Entities.Cars.Car>

@{
    ViewData["Title"] = "Home Page";
}


<div id="home-main">
    <h1 class="main-heading">
        Rent your desired car<br />
        at the lowest prices!
    </h1>

    <div class="cars-cards-div">
        @if (Model.Count < 1)
        {
            <div class="alert alert-danger" style="width: 100%">
                Car list is empty!
            </div>
        }

        @foreach (var car in Model)
        {
            <div class="car-card">
                @* <div class="car-card-image">
                    @foreach (var image in car.CarImages)
                    {
                        <img src="@image.ImagePath" alt="@car.Model" class="car-image"/>
                    }
                </div> *@
                <div class="car-card-info">
                    <div id="carousel-@car.Id" class="carousel slide">
                        <div class="carousel-inner">
                            @foreach (var image in car.CarImages.Select((img, index) => new { img, index }))
                            {
                                <div class="carousel-item @(image.index == 0 ? "active" : "")">
                                    <img src="@image.img.ImagePath" class="d-block w-100 carousel-image" alt="@car.Model">
                                </div>
                            }
                        </div>

                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@car.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-@car.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                    <h3 class="info car-card-info-brand">@car.Year @car.Brand</h3>
                    <p class="info car-card-info-model">@car.Model @car.Engine Liter</p>
                    <p class="info car-card-info-price">Price: @car.Price GEL/Day</p>
                    <div class="card-buttons">
                        <a class="info car-card-info-link btn btn-blue" href="@Url.Action("Details", "Car", new { id = car.Id })">Details</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        
        var carousels = document.querySelectorAll('.carousel');
        carousels.forEach(function (carousel) {
            var bsCarousel = new bootstrap.Carousel(carousel, {
                ride: false
            });
        });
    });
</script>
