@model List<CarRentalApplication.Models.Entities.Cars.Car>

@{
    ViewData["Title"] = "Vehicle Finder";
}

<div id="finder-main">
    <div id="finder-filter">
        <form id="filter-form" asp-controller="VehicleFinder" asp-action="Filter">
            <div class="form-group form-field filter-select">
                <label>Year</label>
                <br />
                <select name="year" class="form-select" aria-label="Default select example">
                    <option selected disabled>Select year</option>
                    @foreach (var select in ViewBag.Selectors.Years)
                    {
                        <option value="@select.Text" >@select.Text</option>
                    }
                </select>
            </div>

            <div class="form-group form-field filter-select">
                <label>Seats</label>
                <br />
                <select name="seats" class="form-select" aria-label="Default select example">
                    <option selected disabled>Select seats amount</option>
                    @foreach (var select in ViewBag.Selectors.Seats)
                    {
                        <option value="@select.Text">@select.Text</option>
                    }
                </select>
            </div>

            <div class="form-group form-field filter-select">
                <label>City</label>
                <br />
                <select name="cityName" class="form-select" aria-label="Default select example">
                    <option selected disabled>Select city</option>
                    @foreach (var select in ViewBag.Selectors.Cities)
                    {
                        <option value="@select.Text" >@select.Text</option>
                    }
                </select>
            </div>

            <br />

            <div class="form-group form-field">
                <button class="btn btn-blue">Search</button>
            </div>
        </form>
    </div>
    <div id="finder-list">
        @if (Model.Count == 0)
        {
            <div style="width: 100%" class="alert alert-danger">
                <p style="margin: 0 !important">No cars found</p>
            </div>
        }
        @foreach (var car in Model)
        {
            <div class="car-card">
                @* <div class="car-card-image">
            @foreach (var image in car.CarImages)
            {
            <img src="@image.ImagePath" alt="@car.Model" class="car-image"/>
            }
            </div> *@
                <div class="car-card-info">
                    <div id="carousel-@car.Id" class="carousel slide">
                        <div class="carousel-inner">
                            @foreach (var image in car.CarImages.Select((img, index) => new { img, index }))
                            {
                                <div class="carousel-item @(image.index == 0 ? "active" : "")">
                                    <img src="@image.img.ImagePath" class="d-block w-100 carousel-image" alt="@car.Model">
                                </div>
                            }
                        </div>

                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@car.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-@car.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                    <h3 class="info car-card-info-brand">@car.Year @car.Brand</h3>
                    <p class="info car-card-info-model">@car.Model / @car.Engine Liter</p>
                    <p class="info car-card-info-price">Price: @car.Price GEL/Day</p>
                    <div class="card-buttons">
                        @* <a class="info car-card-info-link btn btn-blue" href="@Url.Action("Details", "Cars", new { id = car.Id })">Details</a> *@
                        <a class="info car-card-info-link btn btn-blue" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <i class="fas fa-heart @(ViewBag.LikedCarsIds.Contains(car.Id) ? "liked" : "unliked")"
                               data-car-id="@car.Id"
                               style="cursor:pointer; font-size: 24px;">
                            </i>
                        }
                    </div>

                </div>
            </div>
        }
    </div>
</div>

<div class="pagination">
    @if (ViewBag.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { year = Context.Request.Query["year"], seats = Context.Request.Query["seats"], cityName = Context.Request.Query["cityName"], pageNumber = ViewBag.CurrentPage - 1 })" class="btn btn-primary">Previous</a>
    }

    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a href="@Url.Action("Index", new { year = Context.Request.Query["year"], seats = Context.Request.Query["seats"], cityName = Context.Request.Query["cityName"], pageNumber = i })"
           class="btn @(i == ViewBag.CurrentPage ? "btn-success" : "btn-outline-primary")">
            @i
        </a>
    }

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a href="@Url.Action("Index", new { year = Context.Request.Query["year"], seats = Context.Request.Query["seats"], cityName = Context.Request.Query["cityName"], pageNumber = ViewBag.CurrentPage + 1 })" class="btn btn-primary">Next</a>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        var carousels = document.querySelectorAll('.carousel');
        carousels.forEach(function (carousel) {
            var bsCarousel = new bootstrap.Carousel(carousel, {
                ride: false
            });
        });
    });

    $(document).ready(function () {
        $(".fa-heart").click(function () {
            var icon = $(this);
            var carId = icon.data("car-id");

            $.ajax({
                url: '/Cars/ToggleLike',
                type: 'POST',
                data: { carId: carId },
                success: function (response) {
                    if (response.liked) {
                        icon.removeClass("unliked").addClass("liked");
                    } else {
                        icon.removeClass("liked").addClass("unliked");
                    }
                },
                error: function () {
                    alert("Something went wrong. Please try again.");
                }
            });
        });
    });
</script>