@model CarRentalApplication.Models.Entities.Cars.Model

@{
    ViewData["Title"] = "Edit Brand";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<h1>Edit Brand</h1>
<div style="display: inline-block">Something</div>
<br />
<div>
    <form asp-asp-controller="Brand" asp-action="Edit" method="post">
        <div class="input-group mb-3">
            <input asp-for="Name" name="newName" type="text" class="form-control" placeholder="Edit brand name" value="@ViewBag.Brand.Name">
            <button class="btn btn-blue" type="submit">Edit</button>
        </div>
    </form>
</div>

@* <a asp-action="Create" class="btn btn-success">Create New Brand</a> *@

<h3>Models</h3>

<div>
    <form asp-asp-controller="Brand" asp-action="AddModel" asp-route-id="@ViewBag.Brand.Id" method="post">
        <div class="input-group mb-3">
            <input asp-for="Name" name="modelName" type="text" class="form-control" placeholder="Add model">
            <button class="btn btn-blue" type="submit">Add</button>
        </div>
    </form>
</div>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brandModel in ViewBag.Brand.Models)
        {
            <tr>
                <td>@brandModel.Id</td>
                <td>@brandModel.Name</td>
                <td>
                    <a asp-controller="Brands" asp-action="EditModel" asp-route-id="@brandModel.Id" class="btn btn-warning">Edit</a>
                    <form asp-action="DeleteModel" asp-route-id="@brandModel.Id" method="POST" class="btn btn-danger" style="display:inline-block; padding: 0;">

                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
